body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 2em;
}

#instructions {
	position: relative;
	margin: 0 auto;
	width: 500px;
	top: 200px;
	
	border: 2px solid #bbbbbb;
	border-radius: 30px;
	padding: 10px;
}

#instructions p {
	text-align: center;

}

button {
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	border-radius: 10px;
	border: 2px solid black;
	background: #bf00ff;
	width: 220px;
	height: 60px;
	position: relative;
	text-align: center;
	cursor: pointer;
	left: 135px;
}

#your_time {
	display: none
}


#box {
	width: 150px;
	height: 150px;
	display: none;
	position: relative;
	
}